:root {
     --header-color: #2196F3;
     --title-color: #212121;
     --text-color: #757575;
     --footer-color: rgba(255, 255, 255, 0.60);
}

.header__logo { 
     color: #2196F3;

     font-family: Raleway;
     font-size: 26px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 0.78px;
} 

.header__logo--colored {
     color: #000;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.header__nav__item {color: #2196F3;

     font-family: Roboto;
     font-size: 14px;
     font-style: normal;
     font-weight: 500;
     line-height: normal;
     letter-spacing: 0.28px;}

